<header class="container-cabecalho">

    <div class="content-logo-btn-menu">

        <h2 class="logo"><a href="#"><span>Line</span>Stay</a></h2>

        <div class="content-menu" id="content-menu">

            <nav class="menu-principal">

                <ul class="ul-items-menu">

                    <li class="item" linkInterno="true">    <a href="#home">Home</a></li>
                    <li class="item" linkInterno="true">    <a href="#servicos">Serviços</a></li>
                    <li class="item" linkInterno="true">    <a href="#sobre">Sobre</a></li>
                    <li class="item content-submenu" linkInterno="false">    
                        <a class="btn-submenu">Começar<span class="btn-submenu-icon"><i class="fa-solid fa-chevron-right"></i></span></a>
                        <ul class="submenu">
                            <li class="sub-item"><a>Encontrar garagem</a></li>
                            <li class="sub-item"><a>Cadastrar garagem</a></li>
                        </ul>
                    </li>
                    <li     class="item" linkInterno="true">    <a href="#ajuda">Ajuda</a></li>
                    <li class="item content-submenu" linkInterno="false">    
                        <a class="btn-submenu">Minha conta <span class="btn-submenu-icon"><i class="fa-solid fa-chevron-right"></i></span></a>
                        <ul class="submenu">
                            <li class="sub-item"> <a>Entrar</a></li>
                            <li class="sub-item"> <a>Cadastre-se</a></li>
                        </ul>
                    </li>

                </ul>

            </nav>

        </div>

        <div class="btn-menu">
            <span class="linha-btn linha-btn-1"></span>
            <span class="linha-btn linha-btn-2"></span>
            <span class="linha-btn linha-btn-3"></span>
        </div>

    </div>


</header>