<main class="container-principal">

    <section class="section section-home" id="home">

        <div class="content">
            
            <div class="row-box-titles-box-busca-garagem-simples">

                <div class="box-titles">

                    <div class="titles-small">
                        <h1>Temos duas forma de facilitar o seu dia a dia.</h1>
                        <span>Ganhe dinheiro com sua garagem, ou estacione seu veiculo com segurança!</span>
                    </div>

                    <div class="titles-large">
                        <h1>A plataforma ideal para quem precisa de renda extra e para
                            quem precisa estacionar em segurança!</h1>

                        <span>Cadastre sua garagem em nossa plataforma e comece a ganhar dinheiro alugando para motoristas que precisam estacionar seus veiculos em segurança.</span>
                    </div>
                </div>

                <div class="box-busca-garagem">
                    
                    <div class="content-form-busca-simples">

                        <div class="content-title-localizacao">
                            <h4 class="title">Encontrar garagem</h4>
                            <div class="localizacao">
                                <span title="Mudar localização">Ipuã-SP</span>
                                <i class="fa-sharp fa-solid fa-location-dot icon"></i>
                            </div>
                        </div>

                        <form class="form-busca">

                            <div class="form-group">
                                <label for="ipt-cep">Informe o seu CEP:</label>
                                <input type="text" class="cep" name="ipt-cep" id="ipt-cep" placeholder="Ex. 14610000">
                            </div>

                            <div class="form-group">
                                <button class="btn-buscar" type="submit" title="Buscar garagem na sua cidade">Buscar</button>
                            </div>

                        </form>
                    </div>
                    
                    <div class="content-resultado-busca-simples">
                        <div class="box-title-btn-ver-todas">
                            <h4 class="title">Garagens na sua cidade</h4>
                            <span class="btn-ver-todas" title="Ver todas as garagens">Ver todas</span>
                        </div>

                        <div class="box-slider-resultado">
                            
                            <div class="owl-carousel owl-theme slider-resultado-simples">

                                <div class="item item-slider" >
                                    <div class="tag-nivel-garagem">
                                        <span class="nivel-garagem">Padrão</span>
                                    </div>
                                    <div class="background-item-banner background-item-banner-small" >
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                    <div class="background-item-banner background-item-banner-larger">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                </div>
                                <div class="item item-slider" >
                                    <div class="tag-nivel-garagem">
                                        <span class="nivel-garagem">Premium</span>
                                    </div>
                                    <div class="background-item-banner background-item-banner-small">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                    <div class="background-item-banner background-item-banner-larger">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                </div>
                                <div class="item item-slider" >
                                    <div class="tag-nivel-garagem">
                                        <span class="nivel-garagem">Padrão</span>
                                    </div>
                                    <div class="background-item-banner background-item-banner-small">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                    <div class="background-item-banner background-item-banner-larger">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                </div>
                                <div class="item item-slider" >
                                    <div class="tag-nivel-garagem">
                                        <span class="nivel-garagem">Padrão</span>
                                    </div>
                                    <div class="background-item-banner background-item-banner-small">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                    <div class="background-item-banner background-item-banner-larger">
                                        <a href="#" class="link-item-banner"></a>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>
                </div>


            </div>


        </div>

    </section>

    <section class="section section-servicos" id="servicos">

        <div class="content">
            <h3>Serviços</h3>
            <span>Organização: {{name}}</span><br>
            <span>Descricao: {{description}}</span><br>
            <span>Sitedsdsd: {{site}}</span>
        </div>

    </section>

    <section class="section section-sobre" id="sobre">
        <div class="content">

            <h3>Sobre</h3>
            <span>Organização: {{name}}</span><br>
            <span>Descricao: {{description}}</span><br>
            <span>Sitedsdsd: {{site}}</span>
        </div>
    </section>

    <section class="section section-ajuda" id="ajuda">
        <div class="content">
            <h3>Ajuda</h3>
            <span>Organização: {{name}}</span><br>
            <span>Descricao: {{description}}</span><br>
            <span>Sitedsdsd: {{site}}</span>

        </div>
    </section>

    <div class="contente-btn-volta-topo">
        <button class="btn-volta-top">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>

</main>
