* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-principal {
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 30px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 30px [fim-rigth];
  grid-template-rows: [inicio-section-home] 100vh [fim-section-home] 10px [inicio-section-servicos] 100vh [fim-section-servicos] 10px [inicio-section-sobre] 100vh [fim-section-sobre] 10px [inicio-section-ajuda] 100vh [fim-section-ajuda] 10px [inicio-section-time] 100vh [fim-section-time] 10px [inicio-section-contato] 100vh [fim-section-contato] 10px;
}
.container-principal .section {
  padding: 15px 30px;
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 5px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #FF8000;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 990px) {
  .container-principal .section {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1280px) {
  .container-principal .section {
    padding: 0;
  }
  .container-principal .section .content {
    width: 1280px;
    margin: 0 auto;
  }
}
.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
}

.container-cabecalho {
  width: 100%;
  padding: 15px 30px;
  position: fixed;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  color: #FFFFFF;
}
.container-cabecalho .content-logo-btn-menu .logo a span {
  color: #FF8000;
}
.container-cabecalho .content-logo-btn-menu .logo-escuro a {
  color: #333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -4px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -4px;
  transform: rotate(-45deg);
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 12px 30px;
  font-size: 0.9em;
  color: #333333;
  font-weight: 900;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu .btn-submenu-icon {
  transition: 0.3s;
  color: #FF8000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo {
  color: #FFFFFF;
  background-color: #000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo .btn-submenu-icon {
  transform: rotate(90deg);
  transition: 0.3s;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu {
  padding-left: 12px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item a {
  background-color: #FFF;
  color: #000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item:hover a {
  background-color: #ff8000;
  color: #fff;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 990px) {
  .container-cabecalho {
    padding: 15px 60px;
  }
  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #FFFFFF;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #FF8000;
    border-radius: 4px;
    background-color: #FFF;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu:hover .btn-submenu-ativo {
    border-radius: 4px 4px 0 0;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu {
    display: flex;
    justify-content: space-between;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu .btn-submenu-icon {
    transition: 0.3s;
    color: #FF8000;
    transform: rotate(90deg);
    margin-left: 10px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo {
    color: #FF8000;
    background-color: #fff;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo .btn-submenu-icon {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu {
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    border-radius: 0 0 3px 3px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item a {
    background-color: #FFF;
    color: #000;
    border-radius: 0;
    cursor: pointer;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item:hover a {
    background-color: #ff8000;
    color: #fff;
  }
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #333;
  }
}
@media screen and (min-width: 1280px) {
  .container-cabecalho {
    padding: 15px 0;
  }
  .container-cabecalho .content-logo-btn-menu {
    width: 1280px;
    margin: 0 auto;
  }
}
.section-home {
  background: linear-gradient(rgb(255, 255, 255) -30%, rgb(0, 0, 0));
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
}

/* //Mediaqueries 
@media screen and (min-width: 990px) {
    .section-home{
        padding: 0 60px;
    }
}

//Mediaqueries 
@media screen and (min-width: 1280px) {
    .section-home{
        padding: 0;
        .content{
            width: 1280px;
            margin: 0 auto;
        }
    }
} */
.section-servicos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-servicos/fim-section-servicos;
}

.section-ajuda {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-ajuda/fim-section-ajuda;
}

.section-sobre {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-sobre/fim-section-sobre;
}

.section-time {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-time/fim-section-time;
}

.section-ajuda {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-ajuda/fim-section-ajuda;
}

/*# sourceMappingURL=includes.css.map */
