* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-principal {
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 30px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 30px [fim-rigth];
  grid-template-rows: [inicio-section-home] auto [fim-section-home] 10px [inicio-section-servicos] 100vh [fim-section-servicos] 10px [inicio-section-sobre] 100vh [fim-section-sobre] 10px [inicio-section-ajuda] 100vh [fim-section-ajuda] 10px [inicio-section-time] 100vh [fim-section-time] 10px [inicio-section-contato] 100vh [fim-section-contato] 10px;
}
.container-principal .section {
  padding: 15px;
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 5px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #FF8000;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 990px) {
  .container-principal {
    grid-template-rows: [inicio-section-home] 100vh [fim-section-home] 10px [inicio-section-servicos] 100vh [fim-section-servicos] 10px [inicio-section-sobre] 100vh [fim-section-sobre] 10px [inicio-section-ajuda] 100vh [fim-section-ajuda] 10px [inicio-section-time] 100vh [fim-section-time] 10px [inicio-section-contato] 100vh [fim-section-contato] 10px;
  }
  .container-principal .section {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1280px) {
  .container-principal .section {
    padding: 0;
  }
  .container-principal .section .content {
    width: 1280px;
    margin: 0 auto;
  }
}
.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
}

.container-cabecalho {
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  color: #FFFFFF;
}
.container-cabecalho .content-logo-btn-menu .logo a span {
  color: #FF8000;
}
.container-cabecalho .content-logo-btn-menu .logo-escuro a {
  color: #333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -4px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -4px;
  transform: rotate(-45deg);
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 12px 30px;
  font-size: 0.9em;
  color: #333333;
  font-weight: 900;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu .btn-submenu-icon {
  transition: 0.3s;
  color: #FF8000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo {
  color: #FFFFFF;
  background-color: #000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo .btn-submenu-icon {
  transform: rotate(90deg);
  transition: 0.3s;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu {
  padding-left: 12px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item a {
  background-color: #FFF;
  color: #000;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item:hover a {
  background-color: #ff8000;
  color: #fff;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 990px) {
  .container-cabecalho {
    padding: 15px 60px;
  }
  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #FFFFFF;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #FF8000;
    border-radius: 4px;
    background-color: #FFF;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu:hover .btn-submenu-ativo {
    border-radius: 4px 4px 0 0;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu {
    display: flex;
    justify-content: space-between;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu .btn-submenu-icon {
    transition: 0.3s;
    color: #FF8000;
    transform: rotate(90deg);
    margin-left: 10px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo {
    color: #FF8000;
    background-color: #fff;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo .btn-submenu-icon {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu {
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    border-radius: 0 0 3px 3px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item a {
    background-color: #FFF;
    color: #000;
    border-radius: 0;
    cursor: pointer;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item:hover a {
    background-color: #ff8000;
    color: #fff;
  }
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #333;
  }
}
@media screen and (min-width: 1280px) {
  .container-cabecalho {
    padding: 15px 0;
  }
  .container-cabecalho .content-logo-btn-menu {
    width: 1280px;
    margin: 0 auto;
  }
}
.section-home {
  background: linear-gradient(rgb(255, 255, 255) -50%, rgb(0, 0, 0));
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
}
.section-home .content {
  padding: 20px 0;
}
.section-home .content .row-box-titles-box-busca-garagem-simples {
  display: flex;
  flex-direction: column;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao {
  flex: 1;
  margin-bottom: 26px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-small {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-small h1 {
  width: 90%;
  font-size: 1.125em;
  color: #FFF;
  text-align: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-small span {
  width: 70%;
  margin-top: 10px;
  text-align: center;
  color: #efefef;
  font-size: 0.875em;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-large {
  display: none;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .div-btn-acao {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .div-btn-acao .btn-acao {
  background-color: #000;
  color: #FFF;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .div-btn-acao .btn-acao .icon-btn {
  margin-left: 10px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem {
  flex: 1;
  margin-top: 20px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples {
  background-color: #FFF;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 4px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .content-title-localizacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .content-title-localizacao .title {
  font-size: 1.2em;
  font-weight: bold;
  color: #444;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .content-title-localizacao .localizacao {
  font-size: 0.9em;
  color: #ccc;
  cursor: pointer;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .content-title-localizacao .localizacao span {
  color: #ff8000;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .content-title-localizacao .localizacao .icon {
  color: #ff8000;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .form-busca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .form-busca .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .form-busca .form-group label {
  width: 100%;
  text-align: left;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-bottom: 20px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .form-busca .form-group input {
  width: 90%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  color: #444;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-form-busca-simples .form-busca .form-group button {
  padding: 10px 25px;
  border: none;
  background-color: #ff8000;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-title-btn-ver-todas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-title-btn-ver-todas .title {
  color: #FFF;
  font-size: 1.2em;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-title-btn-ver-todas .btn-ver-todas {
  color: #fff;
  font-size: 0.9em;
  padding-right: 20px;
  cursor: pointer;
  text-decoration: underline;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples {
  position: relative;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider {
  background-color: #FFF;
  height: 270px;
  border-radius: 6px;
  border: 1px solid #dfdede;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .tag-nivel-garagem {
  position: absolute;
  top: -10px;
  width: 70px;
  height: 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .tag-nivel-garagem span {
  color: #FFF;
  font-size: 0.9em;
  display: block;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .circle-imagem-garagem {
  width: 90px;
  height: 90px;
  background-color: #333;
  border-radius: 100%;
  overflow: hidden;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .circle-imagem-garagem .background-imagem {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .title-garagem {
  display: flex;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .title-garagem .title {
  font-weight: bold;
  color: #333;
  padding: 10px 0;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .tipos-veiculos-garagem {
  width: 100%;
  margin-bottom: 8px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .tipos-veiculos-garagem .lista-tipos {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .tipos-veiculos-garagem .lista-tipos .item-tipo {
  color: rgb(139, 139, 139);
  padding: 5px 10px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .div-btn-estacionar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .div-btn-estacionar .btn-estacionar {
  background-color: #000;
  color: #fff;
  font-size: 0.85em;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: bold;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .avaliacao-media {
  width: 100%;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .avaliacao-media .lista-estrelas {
  display: flex;
  justify-content: center;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider .div-content-item-slider .avaliacao-media .lista-estrelas .item-estrela {
  color: #fffb08;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .owl-stage-outer {
  padding: 8px 0;
}
.section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .owl-dots {
  width: 100%;
  position: absolute;
  bottom: -32px;
  margin: 0 auto;
}

@media screen and (min-width: 590px) {
  .section-home .content .row-box-titles-box-busca-garagem-simples {
    align-items: center;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem {
    width: 80%;
  }
}
@media screen and (min-width: 960px) {
  .section-home .content {
    padding-top: 90px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples {
    flex-direction: row;
    align-items: stretch;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-small {
    display: none;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-large {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-large h1 {
    width: 100%;
    font-size: 2.2em;
    color: #FFF;
    text-align: left;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .titles-large span {
    width: 100%;
    margin-top: 30px;
    text-align: left;
    color: #efefef;
    font-size: 1.2em;
    padding-right: 20%;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .div-btn-acao {
    justify-content: flex-start;
    margin-top: 0px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-titles-btn-acao .div-btn-acao .btn-acao {
    width: 300px;
    justify-content: center;
    padding: 15px;
    border-radius: 6px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem {
    flex: 0;
    min-width: 40%;
    margin-top: 0;
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-title-btn-ver-todas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-title-btn-ver-todas .title {
    color: #333;
    font-size: 1.2em;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-title-btn-ver-todas .btn-ver-todas {
    color: #333;
    font-size: 0.9em;
    padding-right: 20px;
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .item-slider {
    height: 290px;
    box-shadow: 18px 21px 23px -24px rgb(0, 0, 0);
  }
  .section-home .content .row-box-titles-box-busca-garagem-simples .box-busca-garagem .content-resultado-busca-simples .box-slider-resultado .slider-resultado-simples .owl-dots {
    width: 100%;
    position: absolute;
    bottom: -32px;
    margin: 0 auto;
  }
}
/* //Mediaqueries 
@media screen and (min-width: 990px) {
    .section-home{
        padding: 0 60px;
    }
}

//Mediaqueries 
@media screen and (min-width: 1280px) {
    .section-home{
        padding: 0;
        .content{
            width: 1280px;
            margin: 0 auto;
        }
    }
} */
.section-servicos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-servicos/fim-section-servicos;
}

.section-ajuda {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-ajuda/fim-section-ajuda;
}

.section-sobre {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-sobre/fim-section-sobre;
}

.section-time {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-time/fim-section-time;
}

.section-ajuda {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-ajuda/fim-section-ajuda;
}

.container-rodape {
  padding: 15px;
  background-color: #444;
}
@media screen and (min-width: 990px) {
  .container-rodape {
    padding: 15px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .container-rodape {
    padding: 15px 0;
  }
  .container-rodape .content-rodape {
    width: 1280px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=includes.css.map */
